<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <section id="members">
      <section class="modern-horizontal-wizard">
        <div id="stepper1" class="bs-stepper wizard-modern modern-wizard-example">
          <div class="bs-stepper-header">
            <div data-target="#personal-info-modern" class="step" (click)="goTo(1)">
              <button type="button" class="step-trigger">
                <span class="bs-stepper-box"><i class="font-medium-2" data-feather="user"></i></span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Assign Driver</span>
                  <span class="bs-stepper-subtitle">Assign Your Driver.</span>
                </span>
              </button>
            </div>
            <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>

            <div data-target="#payment-modern" class="step" (click)="goTo(2)">
              <button type="button" class="step-trigger">
                <span class="bs-stepper-box"><i class="font-medium-2" data-feather="tool"></i></span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Maintenance</span>
                  <span class="bs-stepper-subtitle">See Maintenance</span>
                </span>
              </button>
            </div>
            <div class="line"><i data-feather="chevron-right" class="font-medium-2"></i></div>

            <div data-target="#review-modern" class="step" (click)="goTo(3)">
              <button type="button" class="step-trigger">
                <span class="bs-stepper-box"><i class="font-medium-2" data-feather="file-text"></i></span>
                <span class="bs-stepper-label">
                  <span class="bs-stepper-title">Review</span>
                  <span class="bs-stepper-subtitle">Review Maintenance Status</span>
                </span>
              </button>
            </div>
          </div>

          <div class="bs-stepper-content">
            <!-- Step 1: Assign Driver -->
            <div id="personal-info-modern" class="content fade">
              <div class="content-header">
                <h5 class="mb-0">Assign Driver</h5>
                <small class="text-muted">Fill the fields.</small>
              </div>
              <app-personal-info></app-personal-info>

              <div class="d-flex justify-content-end">
                <button class="btn btn-primary" (click)="next()">Next</button>
              </div>
            </div>

            <!-- Step 2: Maintenance -->
             
            <div id="payment-modern" class="content fade">
              <div class="content-header">
                <h5 class="mb-0">Maintenance</h5>
                <small>Maintenance Tracking.</small>
              </div>

              <app-maintenance></app-maintenance>
              

              <div class="d-flex justify-content-between">
                <button class="btn btn-outline-secondary" (click)="previous()">Previous</button>
                <button class="btn btn-primary" (click)="next()">Next</button>
              </div>
            </div>

            <!-- Step 3: Review -->
            <div id="review-modern" class="content fade">
              <div class="content-header">
                <h5 class="mb-0">Review</h5>
                <small>Review Maintenance Status.</small>
              </div>

              <app-review></app-review>

              <div class="d-flex justify-content-between">
                <button class="btn btn-outline-secondary" (click)="previous()">Previous</button>
                <!-- <button class="btn btn-primary">Submit</button> -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</div>
