<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="card">
      <div class="card-body">
        <ngx-datatable
  class="bootstrap core-bootstrap"
  [columnMode]="ColumnMode.force"
  [headerHeight]="40"
  [rowHeight]="58"
  [footerHeight]="50"
  rowHeight="auto"
  [rows]="rows"
  [scrollbarH]="true"
  [externalPaging]="false"
  (page)="setPage($event)"
>
  <!-- Department -->
  <ngx-datatable-column name="Department">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.department }}
    </ng-template>
  </ngx-datatable-column>

  <!-- Name (nested object) -->
  <ngx-datatable-column name="Name">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.name?.name }}
    </ng-template>
  </ngx-datatable-column>

  <!-- Vehicle -->
  <ngx-datatable-column name="Vehicle">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.vehicle }}
    </ng-template>
  </ngx-datatable-column>

  <!-- Location -->
  <ngx-datatable-column name="Location">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.location }}
    </ng-template>
  </ngx-datatable-column>

  <!-- Date -->
  <ngx-datatable-column name="Date">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.date }}
    </ng-template>


