<form #personalInfoForm="ngForm" class="form" id="personalInfo">
  <div class="form-row">
    <div class="form-group col-4">
      <label class="form-label" for="department">Department</label>
      <select
        class="form-control"
        id="department"
        name="department"
        required
        [(ngModel)]="driverInfoForm.department"
        (change)="onChangeDepartment($event)"
        [ngClass]="{
          'is-invalid': submitted && personalInfoForm.form.controls.department?.errors
        }"
      >
        <option [ngValue]="null"></option>
        <option *ngFor="let departmentChoice of departmentChoices" [ngValue]="departmentChoice.description">
          {{ departmentChoice.description }}
        </option>
      </select>
      <span class="error-text" *ngIf="submitted && personalInfoForm.form.controls.department?.errors">
        Department is required.
      </span>
    </div>

    <div class="form-group col-4">
      <label class="form-label" for="name">Name</label>
      <select
        class="form-control"
        id="name"
        name="name"
        required
        [(ngModel)]="driverInfoForm.name"
        (change)="onChangeDriver($event)"
        [ngClass]="{
          'is-invalid': submitted && personalInfoForm.form.controls.name?.errors
        }"
      >
        <option [ngValue]="null"></option>
        <option *ngFor="let driverChoice of driverChoices" [ngValue]="driverChoice.name">
          {{ driverChoice.name }}
        </option>
      </select>
      <span class="error-text" *ngIf="submitted && personalInfoForm.form.controls.name?.errors">
        Name is required.
      </span>
    </div>

    <div class="form-group col-4">
      <label class="form-label" for="vehicle">Vehicle Type - Plate Number</label>
      <select
        class="form-control"
        id="vehicle"
        name="vehicle"
        required
        [(ngModel)]="driverInfoForm.vehicle"
        (change)="onChangeVehicle($event)"
        [ngClass]="{
          'is-invalid': submitted && personalInfoForm.form.controls.vehicle?.errors
        }"
      >
        <option [ngValue]="null"></option>
        <option *ngFor="let vehicleChoice of vehicleChoices" [ngValue]="vehicleChoice.description">
          {{ vehicleChoice.description }}
        </option>
      </select>
      <span class="error-text" *ngIf="submitted && personalInfoForm.form.controls.vehicle?.errors">
        Vehicle Type - Plate Number is required.
      </span>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-4">
      <label class="form-label" for="location">Location</label>
      <select
        class="form-control"
        id="location"
        name="location"
        required
        [(ngModel)]="driverInfoForm.location"
        (change)="onChangeLocation($event)"
        [ngClass]="{
          'is-invalid': submitted && personalInfoForm.form.controls.location?.errors
        }"
      >
        <option [ngValue]="null"></option>
        <option value="Sorosoro Ibaba, Batangas City">Sorosoro Ibaba, Batangas City</option>
        <option value="Balanga, Ibaan">Balanga, Ibaan</option>
      </select>
      <span class="error-text" *ngIf="submitted && personalInfoForm.form.controls.location?.errors">
        Location is required.
      </span>
    </div>

    <div class="form-group col-4">
      <label class="form-label" for="date">Date</label>
      <ng2-flatpickr
        id="date"
        name="date"
        required
        [config]="customDateOptions"
        [(ngModel)]="driverInfoForm.date"
        (ngModelChange)="onChangeDate($event)"
        [ngClass]="{
          'is-invalid': submitted && personalInfoForm.form.controls.date?.errors
        }"
      >
      </ng2-flatpickr>
      <span class="error-text" *ngIf="submitted && personalInfoForm.form.controls.date?.errors">
        Date is required.
      </span>
    </div>

    <div class="form-group col-4">
      <label class="form-label" for="daysLeft">Days Left</label>
      <input
        id="daysLeft"
        name="daysLeft"
        class="form-control"
        type="text"
        readonly
        [(ngModel)]="driverInfoForm.daysLeft"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-12">
      <button type="button" class="btn btn-primary" (click)="addMembers()">
        Deploy
      </button>
    </div>
  </div>
</form>
