<form #personalInfoForm="ngForm" class="form" id="personalInfo">
  <div class="form-row">
    <div class="form-group col-4">
      <label class="form-label" for="department" style="text-align: left"
        >Department</label
      >
      <select
        [ngClass]="{
          'is-invalid':
            submitted && personalInfoForm.form.controls.department?.errors
        }"
        (change)="onChangeDepartment($event)"
        id="department"
        class="form-control"
        [(ngModel)]="driverInfoForm.department"
        name="department"
        required
      >
        <option [ngValue]="null"></option>
        <option
          *ngFor="let departmentChoice of departmentChoices"
          [ngValue]="departmentChoice.description"
        >
          {{ departmentChoice.description }}
        </option>
      </select>
      <span
        class="error-text"
        *ngIf="personalInfoForm.form.controls.department?.errors && submitted"
      >
        Department is required.
      </span>
    </div>

    <div class="form-group col-4">
      <label class="form-label" for="name">Name</label>
      <select
        [ngClass]="{
          'is-invalid': submitted && personalInfoForm.form.controls.name?.errors
        }"
        (change)="onChangeDriver($event)"
        name="name"
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="driverInfoForm.name"
        required
      >
        <option [ngValue]="null"></option>
        <option
          *ngFor="let driverChoice of driverChoices"
          [ngValue]="driverChoice.name"
        >
          {{ driverChoice.name }}
        </option>
      </select>
      <span
        class="error-text"
        *ngIf="personalInfoForm.form.controls.name?.errors && submitted"
      >
        Name is required.
      </span>
    </div>

    <div class="form-group col-4">
      <label class="form-label" for="vehicle"
        >Vehicle Type & Plate Number</label
      >
      <input
        [ngClass]="{
          'is-invalid':
            submitted && personalInfoForm.form.controls.vehicle?.errors
        }"
        (input)="logInput($event)"
        name="vehicle"
        required
        type="text"
        class="form-control"
        id="vehicle"
        [(ngModel)]="driverInfoForm.vehicle"
      />
      <span
        class="error-text"
        *ngIf="personalInfoForm.form.controls.vehicle?.errors && submitted"
      >
        Vehicle is required.
      </span>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-4">
      <label class="form-label" for="location">Location</label>
      <select
        [ngClass]="{
          'is-invalid':
            submitted && personalInfoForm.form.controls.location?.errors
        }"
        (change)="onChangeLocation($event)"
        name="location"
        id="location"
        class="form-control"
        [(ngModel)]="driverInfoForm.location"
        required
      >
        <option value="Sorosoro Ibaba, Batangas City">
          Sorosoro Ibaba, Batangas City
        </option>
        <option value="Balanga, Ibaan">Balanga, Ibaan</option>
      </select>
      <span
        class="error-text"
        *ngIf="personalInfoForm.form.controls.location?.errors && submitted"
      >
        Location is required.
      </span>
    </div>

    <div class="form-group col-4">
      <label class="form-label" for="date">Date</label>
      <ng2-flatpickr
        [ngClass]="{
          'is-invalid': submitted && personalInfoForm.form.controls.date?.errors
        }"
        name="date"
        required
        id="date"
        [(ngModel)]="driverInfoForm.date"
        [config]="customDateOptions"
        (ngModelChange)="onChangeDate($event)"
      >
      </ng2-flatpickr>
      <span
        class="error-text"
        *ngIf="personalInfoForm.form.controls.date?.errors && submitted"
      >
        Date is required.
      </span>
    </div>

    <div class="form-group col-4">
      <label class="form-label" for="daysLeft"
        >Days Left (starting tomorrow)</label
      >
      <input
        readonly
        name="daysLeft"
        type="text"
        class="form-control"
        id="daysLeft"
        [(ngModel)]="driverInfoForm.daysLeft"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-12">
      <button type="button" class="btn btn-primary" (click)="addMembers()">
        Deploy
      </button>
    </div>
  </div>
</form>
